.status-image {
    margin-bottom: 40px;
    height: 195px;
    background-image: url(../../../../../src/assets/images/disabled.svg);
    background-repeat: no-repeat;
    background-position: center bottom;

    &--enabled {
        background-image: url(../../../../../src/assets/images/enabled.svg);
        background-position: 18px 65px;
    }
}
