.icon {
    display: inline-block;
    vertical-align: middle;

    &--button {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }

    &--cross {
        color: var(--gray88);
    }

    &--check {
        color: var(--brand-primary);
    }
}
