.global-error {
    padding: 20px 24px 25px 24px;
    height: calc(100% - var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        width: 30px;
        height: 30px;
        background-image: url(../../../../src/assets/images/icon-warning.svg);
    }

    &__title {
        padding: 10px 0 10px 0;
        font-size: 16px;
        font-weight: bold;
    }

    &__description {
        font-size: 16px;
    }
}



